# Numerical Data Preprocessing

In [5]:
import pandas as pd


data1=pd.read_csv("test.csv", header=None)           
#link https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv

print('Diabetes Dataset: \n')
print(data1.head())

print('Meta Info: \n')
print(data1.describe())

Diabetes Dataset:

     0      1     2     3      4     5      6   7  8
0  6.0  148.0  72.0  35.0    NaN  33.6  0.627   5  1
1  1.0   85.0  66.0  29.0    NaN  26.6  0.351  31  0
2  8.0  183.0  64.0   NaN    NaN  23.3  0.672  32  1
3  1.0   89.0  66.0  23.0   94.0  28.1  0.167  21  0
4  NaN  137.0   4.0  35.0  168.0  43.1  2.288  33  1
Meta Info:

                0           1           2           3           4           5  \
count  657.000000  763.000000  733.000000  541.000000  394.000000  757.000000
mean     4.165906   99.310616   55.706685   25.876155  105.659898   29.865654
std      3.095265   55.115381   29.878852   12.967816  116.862508   10.686049
min      1.000000    1.000000    1.000000    1.000000    1.000000    2.000000
25%      2.000000   72.500000   16.000000   18.000000   21.000000   25.400000
50%      3.000000  113.000000   66.000000   27.000000   71.000000   32.000000
75%      6.000000  138.000000   76.000000   35.000000  151.000000   36.100000
max     17.000000  199.000000  122.000000   99.000000  846.000000   67.100000

                6           7           8
count  768.000000  768.000000  768.000000
mean     0.490439   30.990885    0.348958
std      0.346050   13.281475    0.476951
min      0.100000    3.000000    0.000000
25%      0.253750   23.000000    0.000000
50%      0.382500   28.000000    0.000000
75%      0.647500   38.250000    1.000000
max      2.420000   81.000000    1.000000

In [6]:
# find the missing values
data1.isnull().sum()

0    111
1      5
2     35
3    227
4    374
5     11
6      0
7      0
8      0
dtype: int64

# Replace with Zero

In [7]:
data2 = data1.fillna(0)
print(data2.head())
print(data2.describe())

     0      1     2     3      4     5      6   7  8
0  6.0  148.0  72.0  35.0    0.0  33.6  0.627   5  1
1  1.0   85.0  66.0  29.0    0.0  26.6  0.351  31  0
2  8.0  183.0  64.0   0.0    0.0  23.3  0.672  32  1
3  1.0   89.0  66.0  23.0   94.0  28.1  0.167  21  0
4  0.0  137.0   4.0  35.0  168.0  43.1  2.288  33  1
                0           1           2           3           4           5  \
count  768.000000  768.000000  768.000000  768.000000  768.000000  768.000000
mean     3.563802   98.664062   53.167969   18.227865   54.205729   29.437891
std      3.216011   55.513759   31.419136   16.062018   98.946059   11.187619
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      1.000000   71.000000    9.000000    0.000000    0.000000   25.200000
50%      3.000000  113.000000   66.000000   19.000000    2.000000   31.600000
75%      6.000000  138.000000   76.000000   32.000000   73.250000   35.925000
max     17.000000  199.000000  122.000000   99.000000  846.000000   67.100000

                6           7           8
count  768.000000  768.000000  768.000000
mean     0.490439   30.990885    0.348958
std      0.346050   13.281475    0.476951
min      0.100000    3.000000    0.000000
25%      0.253750   23.000000    0.000000
50%      0.382500   28.000000    0.000000
75%      0.647500   38.250000    1.000000
max      2.420000   81.000000    1.000000

# Replace with Mean

In [8]:
data3 = data1.fillna(data1.mean())
print(data3.head())
print(data3.describe())
data3.isnull().sum()

          0      1     2          3           4     5      6   7  8
0  6.000000  148.0  72.0  35.000000  105.659898  33.6  0.627   5  1
1  1.000000   85.0  66.0  29.000000  105.659898  26.6  0.351  31  0
2  8.000000  183.0  64.0  25.876155  105.659898  23.3  0.672  32  1
3  1.000000   89.0  66.0  23.000000   94.000000  28.1  0.167  21  0
4  4.165906  137.0   4.0  35.000000  168.000000  43.1  2.288  33  1
                0           1           2           3           4           5  \
count  768.000000  768.000000  768.000000  768.000000  768.000000  768.000000
mean     4.165906   99.310616   55.706685   25.876155  105.659898   29.865654
std      2.862543   54.935441   29.189172   10.880931   83.651512   10.609145
min      1.000000    1.000000    1.000000    1.000000    1.000000    2.000000
25%      2.000000   73.000000   45.500000   22.000000   66.750000   25.575000
50%      4.000000  113.000000   66.000000   25.876155  105.659898   31.600000
75%      6.000000  138.000000   76.000000   32.000000  105.659898   35.925000
max     17.000000  199.000000  122.000000   99.000000  846.000000   67.100000

                6           7           8
count  768.000000  768.000000  768.000000
mean     0.490439   30.990885    0.348958
std      0.346050   13.281475    0.476951
min      0.100000    3.000000    0.000000
25%      0.253750   23.000000    0.000000
50%      0.382500   28.000000    0.000000
75%      0.647500   38.250000    1.000000
max      2.420000   81.000000    1.000000

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
dtype: int64

# Replace with Median

In [9]:
data4 = data1.fillna(data1.median())
print(data4.head())
print(data4.describe())
data4.isnull().sum()

     0      1     2     3      4     5      6   7  8
0  6.0  148.0  72.0  35.0   71.0  33.6  0.627   5  1
1  1.0   85.0  66.0  29.0   71.0  26.6  0.351  31  0
2  8.0  183.0  64.0  27.0   71.0  23.3  0.672  32  1
3  1.0   89.0  66.0  23.0   94.0  28.1  0.167  21  0
4  3.0  137.0   4.0  35.0  168.0  43.1  2.288  33  1
                0           1           2           3           4           5  \
count  768.000000  768.000000  768.000000  768.000000  768.000000  768.000000
mean     3.997396   99.399740   56.175781   26.208333   88.781250   29.896224
std      2.891789   54.946487   29.268110   10.893024   85.428861   10.612180
min      1.000000    1.000000    1.000000    1.000000    1.000000    2.000000
25%      2.000000   73.000000   45.500000   22.000000   66.750000   25.575000
50%      3.000000  113.000000   66.000000   27.000000   71.000000   32.000000
75%      6.000000  138.000000   76.000000   32.000000   73.250000   35.925000
max     17.000000  199.000000  122.000000   99.000000  846.000000   67.100000

                6           7           8
count  768.000000  768.000000  768.000000
mean     0.490439   30.990885    0.348958
std      0.346050   13.281475    0.476951
min      0.100000    3.000000    0.000000
25%      0.253750   23.000000    0.000000
50%      0.382500   28.000000    0.000000
75%      0.647500   38.250000    1.000000
max      2.420000   81.000000    1.000000

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
dtype: int64

# Rescaling the Data

In [10]:
from sklearn import preprocessing
data5 = pd.DataFrame(preprocessing.scale(data4))
data5.describe()

C:\Users\sawan\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by the scale function.

,0,1,2,3,4,5,6,7,8
count,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02
mean,-2.197316e-17,7.175611e-17,2.457525e-17,1.300320e-16,2.349105e-17,-4.336809e-17,1.153591e-16,-1.136244e-16,2.408374e-16
std,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00
min,-1.037195e+00,-1.791996e+00,-1.886413e+00,-2.315680e+00,-1.028206e+00,-2.630412e+00,-1.129008e+00,-2.108887e+00,-7.321202e-01
25%,-6.911629e-01,-4.807758e-01,-3.649958e-01,-3.865846e-01,-2.580581e-01,-4.074601e-01,-6.844186e-01,-6.020486e-01,-7.321202e-01
50%,-3.451309e-01,2.476796e-01,3.358816e-01,7.272384e-02,-2.082767e-01,1.983708e-01,-3.121201e-01,-2.253390e-01,-7.321202e-01
75%,6.929652e-01,7.029642e-01,6.777731e-01,5.320323e-01,-1.819218e-01,5.684699e-01,4.541643e-01,5.469156e-01,1.365896e+00
max,4.499318e+00,1.813859e+00,2.250474e+00,6.686766e+00,8.869511e+00,3.508047e+00,5.579595e+00,3.767782e+00,1.365896e+00

In [11]:
data6 = pd.DataFrame(preprocessing.normalize(data4))
data6.describe()

,0,1,2,3,4,5,6,7,8
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,0.025970,0.570369,0.361627,0.170779,0.483467,0.197405,0.003218,0.203855,0.001996
std,0.020617,0.273321,0.212283,0.088256,0.229912,0.093099,0.002538,0.102570,0.002973
min,0.001150,0.004257,0.006903,0.003480,0.005088,0.003567,0.000272,0.008854,0.000000
25%,0.011333,0.377016,0.161191,0.124707,0.358751,0.149241,0.001542,0.146282,0.000000
50%,0.020534,0.675582,0.406990,0.164328,0.473700,0.194613,0.002438,0.190496,0.000000
75%,0.033335,0.776467,0.502109,0.217313,0.633883,0.246186,0.004035,0.255946,0.004707
max,0.141798,0.957836,0.940463,0.745664,0.977407,0.615963,0.019931,0.618755,0.016375

# Dealing with Categorical Data

In [18]:
enc = preprocessing.OrdinalEncoder()

cdata = pd.DataFrame([['male','cricket','tea'],['male','football','coffee'],['female','chess','tea']])
enc.fit(cdata)

enc.transform(cdata)

array([[1., 1., 1.],
       [1., 2., 0.],
       [0., 0., 1.]])

# Binarization

In [28]:
import numpy as np

cdata2 = np.random.rand(3,4)*10
print(cdata2)

binarizer = preprocessing.Binarizer(threshold=5)
binarizer.transform(cdata2)

[[2.89361128 6.22570829 3.61149822 0.52728185]
 [6.34782757 7.67594168 8.67894186 2.83977103]
 [5.07813697 6.79886352 7.47981802 8.40668397]]

array([[0., 1., 0., 0.],
       [1., 1., 1., 0.],
       [1., 1., 1., 1.]])

# Discretization

In [ ]:
# go through the sklearn.preprocessing docs for more information.

categorical data preprocessing

data to be taken:
    https://www.datacamp.com/community/tutorials/categorical-data

# Exercise
### e1. Load the iris.csv file and perform following steps to fill missing values.

## 1. replace with highest freq data of that column
## 2. change to categorical
## 3. replace with classwise mean, median

## e2. Plot (using suitable plot) the mean, std, min, max for each preprocessing approach to compare the effect of preprocessing approach.
##### [use the example file ]