# Introduction to Python
<img src="python.jpg" width=500 >

In [ ]:
print('CS-533')

In [ ]:
print("CS-533")

In [ ]:
print('I like "MIB4"')
print("I like 'MIB4'")

In [ ]:
# import example

import time
print('Current Time is', time.gmtime())

In [ ]:
var1 = 20

print(var1)

In [ ]:
var2 = 34
print(var2+45)

print('abcd'+'45')

In [ ]:
var3 = 'text'
print(len(var3))

In [ ]:
a, b, c = 1, 2, "john"

print(a,b,c)

In [ ]:
a1 =a2 = a3 = a4 =9

print(a2)

In [ ]:
# swaping made easy

val1 =90 
val2 =34
val3 = 78

print(val1,'-----',val2,'-----',val3)

val1,val2,val3= val2,val3,val1


print(val1,'-----',val2,'-----',val3)

In [ ]:
int = 9
print(int)

In [ ]:
import keyword

print(keyword.kwlist)

In [ ]:
var4 = not 1
print(var4)

In [ ]:
if(False == False):
    print('if block')
else:
    print('else block')

In [ ]:
num =9
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

In [ ]:
for itr in range(0,10):
#for itr in range(10,0,-1):
    print('loop',itr)

In [ ]:
value = 4
while value<10:
    print(value)
    value+=1

In [ ]:
var11 = 'testing'
var22 = "i am running"

print ("var11[0]: ", var11[0])
print ("var22[1:6]: >", var22[1:6],"<")

In [ ]:
print ("My name is %s and weight is %d kg!"('Zubin', 34))

In [ ]:
str1 = "hello"
print(str1*4)
#print(str1/4)

In [ ]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

#print (list)          
print (list[-2])     
#print (list[1:3])     
#print (list[2:])      
print (tinylist * 2)  
print (list + tinylist)

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000]

print (list1)
del list1[2]
print ("After deleting value at index 2 : ", list1)

In [ ]:
a1 = [1,2,3,4,5,9]
a2 = [2,4,512,1,3]
print(a1+a2)

In [ ]:
import numpy as np

b1 = np.array([1,2,3,5,5])
b2 = np.array([234,54,24,2,3])

print(b1+a2)

print(b2 * 3)

In [ ]:
tuple1 = ('cs533','cs534', 'cs615')
print(tuple1)
tuple1[2]

In [ ]:
#tuple1[3]='EM090'

In [ ]:
del tuple1
print(tuple1)

In [ ]:
tuple2 = ('data1')
tuple2 = ('data1',)
print(tuple2)

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

In [ ]:
dict['Age'] = 8; 
dict['School'] = "DPS School" 

print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

In [ ]:
my_set = {1,2,3,4,3,2}
print(my_set)

In [ ]:
ds1 = {}
print(type(ds1))

ds2 = set()
type(ds1)

In [ ]:
def calculateSum(a,b):
    return a+b

print(calculateSum(234,56))
print(calculateSum(34.2,6.4))  
print(calculateSum('text1','text2'))

In [ ]:
def fun1():
    print('in side function1--')
    fun1()
fun1()

In [ ]:

def fun1(count):
    count = count +1
    print('in side function1--')
    if count < 10:
        fun1(count)
        

fun1(5)

In [ ]:
data = input()
print('you entered',data)

In [ ]:
data1 = input()
print(type(data1))

In [ ]:
data1 = open('example.txt','r')
data1.read()

In [ ]:
data1 = open('example.txt','r')
data1.readlines()

In [ ]:
data1 = open('example.txt','r')
data1.readline()

In [ ]:
data2 = open('example_write.txt','w')
data2.write('example_data_new')
data2.flush()
data2.close()